*{
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body{

    background: yellow;
    background-image: url(./image/bg.jpg);
}

.card{

    background: #000000d0;
    width: 90%;
    max-width: 420px;
    color: white;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}

.search{

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.search input{
    border: 0;
    outline: 0;
    background:#7c7c7c2b;
    color: #ffffff;
    padding: 10px 25px;
    height: 50px;
    border-radius: 30px;
    margin: 16px;
    font-size: 18px;
    flex: 1;
}

.search button {
    border: 0;
    outline: 0;
    background: #7c7c7c2b;;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
}

.search button img{
    
    width: 16px;
}

.weather-icon{
    width: 170px;
    margin-top: 30px;
}

.weather h1 {

    font-size: 80px;
    font-weight: 500;

}
.weather h2 {
    font-size: 45px;
    font-weight: 400;
    margin-top: -10;
}

.details{

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin-top: 50px;
}

.col{
    display: flex;
    align-items: center;
    text-align: left;
}

.humidity, .wind{
    font-size: 28px;
    margin-top: -6px;
}

.weather{

    display: none;
}



button:hover{
    background: #7c7c7c6b;
}

